<div class="jumbotron">
    <h3>Yelp for Apis</h3>

    <p><a class="btn btn-primary btn-lg" href="apis/new" role="button">Add new Api &raquo;</a></p>
</div>

<% if @apis.empty? %>
    <p>Add some apis for reviews</p>
<% else %>
    <h3>Top rated apis</h3>
    <table class="table table-striped">
    <thead>
        <tr>
            <th data-field="id">Image</th>
            <th data-field="name">Name</th>
            <th data-field="rating">Average Rating</th>
            <th data-field="link">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <% @apis.each do |api| %>
            <tr>
                <td><img src="<%= api.image %>" alt="<%= api.name %>"></td>
                <td><%= api.name %></td>
                <td><%= api.average_rating %></td>
                <td><%= link_to 'Update rating', edit_api_path(api) %></td>
            </tr>
        <% end %>
    </tbody>

    </table>
<% end %>